@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root { 
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 275 100% 45%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 285 100% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 285 100% 60%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 10%;
    --foreground: 0 0% 95%;
    --card: 240 5% 15%;
    --card-foreground: 0 0% 95%;
    --popover: 240 10% 10%;
    --popover-foreground: 0 0% 95%;
    --primary: 275 100% 45%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 25%;
    --muted-foreground: 0 0% 60%;
    --accent: 285 100% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 25%;
    --input: 240 5% 20%;
    --ring: 285 100% 60%;
    --sidebar-background: 240 10% 4%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 275 100% 45%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 275 100% 45%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 5% 15%;
    --sidebar-ring: 285 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* For Flashcard Flip Animation */
.flashcard-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flashcard.flipped .flashcard-inner {
  transform: rotateY(180deg);
}

.flashcard-front,
.flashcard-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flashcard-back {
  transform: rotateY(180deg);
}
